<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classPrefixUsage</key>
	<string>classPrefix will be appended (both filename and classname) of all generated classes</string>
	<key>classPrefix</key>
	<string>GBO</string>
	<key>targetNamespacePrefixUsage</key>
	<string>targetNamespacePrefix will be used to separate the namespace classes into different folders</string>
	<key>targetNamespacePrefix</key>
	<string>http://com.ehi.gbo.location.dto.</string>
	<key>targetClassNamePrefixUsage</key>
	<string>targetClassNamePrefix use for substituting classnames</string>
	<key>targetClassNamePrefix</key>
	<string>Location</string>
	<key>targetClassNamePrefixArray</key>
	<array>
		<string>AdditionalDataInResponse2</string>
		<string>Address2</string>
		<string>Phone2</string>
	</array>
</dict>
</plist>
